<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--配置程序默认界面-->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <!--设置监听器，主要有三类：-->
    <!--1、ServletContextListener：用于对Servlet整个上下文进行监听（创建、销毁）-->
    <!--    1.1、ServletContextAttributeListener：对Servlet上下文属性的监听（增删改属性）-->
    <!--2、HttpSessionListener：对Session的整体状态的监听-->
    <!--    2.1、HttpSessionAttributeListener：对Session的属性监听-->
    <!--    2.2、销毁：手工使session失效；session超时，web.xml配置；-->
    <!--3、ServletRequestListener：对Request请求进行监听（创建、销毁）-->
    <!--    3.1、ServletRequestAttributeListener：对Request属性的监听（增删改属性）-->

    <!--设置session超时时间 单位：分钟-->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!--设置监听器-->
    <listener>
        <listener-class>com.fanzhuo.framework.listener.InitializeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.fanzhuo.framework.listener.StartupListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.fanzhuo.framework.listener.ActiveUsersListener</listener-class>
    </listener>

    <!--(spring-mvc)配置DispatcherServlet-->
    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/config/app-springmvc.xml</param-value>
        </init-param>
        <!--表示容器是否应该在web应用程序启动的时候加载这个servlet，如果是负数或没有设置，则容器在请求的时候加载，如果>=0的时候，值越小，优先级越高，越先被加载-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <!--错误界面跳转-->
    <error-page>
        <error-code>400</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/fail.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/fail.html</location>
    </error-page>

</web-app>
        